<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
            <a href="/" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>Dashboard</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="category" class="nav-link">
                <i class="nav-icon fas fa-stream"></i>
                <p>Categories</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="product" class="nav-link">
                <i class="nav-icon fas fa-list"></i>
                <p>Products</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="order" class="nav-link">
                <i class="nav-icon fas fa-shopping-cart"></i>
                <p>Orders</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="users" class="nav-link">
                <i class="nav-icon fas fa-users"></i>
                <p>Users</p>
            </a>
        </li>
        <li class="nav-header">REPORTS</li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-chart-pie"></i>
                <p>Product Report</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-chart-pie"></i>
                <p>Order Report</p>
            </a>
        </li>
    </ul>
</nav>